{% extends 'base.html' %}
{% load static %}
{% block content %}
  <head>
    <style>
      body {background-color: rgb(233, 233, 233);}
    </style>
  </head>

  <div style="background-color: white;">
    <br> <br>
    <img src="{% static 'Main.PNG' %}" alt="" width="1050px">
    <div class="new-movie">
      <h4 style="text-align: left; margin-top: 50px; margin-left: 30px; margin-bottom: 50px;">NEW & UPCOMING MOVIES</h4>

      <div class="row">
          {% for blog in blogs%}
          <div class="col-md-3">
            <table class="table" style="list-style: square;">
              <a href="{%url 'blog:detail' blog.id %}"><img src="{{blog.poster_url}}" alt=""></a>
            <tr>
            <h6 style="margin-top: 10px; margin-bottom: 40PX;" ><a href="{%url 'blog:detail' blog.id %}" style="text-decoration: none; color: black;">{{ blog.title_kor }}</a></h6>
          </table>
          </div>
          {% endfor %}
      </div>
    </div>
    
    <br/>

    <div class="paginator">
      {% if blogs.has_previous %}
     
      <strong><a href="?page=1&query={{query}}"  style="margin-right: 5px; text-decoration: none; color: black;">처음</a></strong>
      <strong><a href="?page={{blogs.previous_page_number}}&query={{query}}"  style="margin-right: 10px; text-decoration: none; color: black;">이전</a></strong>
      {% endif %}
      <span>{{blogs.paginator.num_pages}}</span>
      <span>페이지 중에</span>
      <span>{{blogs.number}}</span>
      <span>페이지 입니다</span>
      {% if blogs.has_next %}
      <strong><a href="?page={{blogs.next_page_number}}&query={{query}}"  style="margin-left: 10px; text-decoration: none; color: black;">다음</a></strong>
      <strong><a href="?page={{blogs.paginator.num_pages}}&query={{query}}" style="margin-left: 5px; text-decoration: none; color: black;">마지막</a></strong>
      {% endif %}
    </div> <br>
  </div>
  
  <footer style="text-align: center; margin-top: 40px; margin-bottom: 20px; text-align: center;">
    Copyright © Fandango. All rights reserved. V3.1 Privacy Policy  Terms and Policies  Do Not Sell My Info  AdChoices
  </footer>
{% endblock %}